@page "/skills"
@inherits SkillsBase

<h2>Programming Languages</h2>
<hr />
<ul>
    @foreach (var programmingLanguage in ProgrammingLanguages)
    {
        <li>@programmingLanguage</li>
    }
</ul>
<h2 class="skillsSubHeader">Technology & Frameworks I Use</h2>
<hr />
<ul>
    @foreach (var t in Techs)
    {
        <li>@t</li>
    }
</ul>
<h2 class="skillsSubHeader">Python Libraries I Use</h2>
<hr />
<ul>
    @foreach (var pl in PythonLibraries)
    {
        <li>@pl</li>
    }
</ul>
<h2 class="skillsSubHeader">The Linux Distribution That I Use & The Tools That I Frequently Work With</h2>
<hr />
<ul>
    @foreach (var lt in LinuxTools)
    {
        <li>@lt</li>
    }
</ul>

