@page "/aboutme"

<div class="text-center">
    <h2>Greetings!</h2>
    <hr/>
    <p>
    I am a passionate software guy trying to live his best life. I have both a bachelor's and a master's in computer science from the University of Central Florida. I currently work as a software developer at FWC (Florida Fish and Wildlife Commission) using .Net core technologies, SQL server, entity framework, and Azure Devops as the source control. My productive spare-time hobbies include creating full-stack web apps on web and making games. I also like traveling, exploring new places, learning about different cultures, and trying different foods.
    </p>
</div>